/*Retrieved from url: https://html.design/preview/?theme=minics*/

.product_section .heading_container {
    /*margin-bottom: 20px;*/
    margin-top: -10vh;
    height: 15vh;
    color: #87314b;
}

.product_section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    top: 5vh; /*push all the boxes down*/
    background-color:indianred;
}

.product_section .box .img-box {
    background-color: #f8f8f8;
    width: 100%;
    height: 50vh; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 15px;
}

.product_section .box .img-box img {
    width: 100%;
    height: 50vh;
}

.product_section .box .img-box .add_cart_btn {
    display: inline-block;
    width: 175px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: #FFB6C1;
    color: #ffffff;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    z-index: 3;
}

.product_section .box .img-box .add_cart_btn:hover {
    background-color: #DB7093;
    color: #ffffff;
}

.product_section .box .img-box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.product_section .box .detail-box {
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    color: white; /*text color of the boxes*/
}

.product_section .box .product_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product_section .box .star_container {
    color: #f2b01e;
}

.product_section .box:hover .img-box .add_cart_btn {
    opacity: 1;
    visibility: visible;
}

.product_section .box:hover .img-box::before {
    opacity: .55;
}

.product_section .btn_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
}

.product_section .btn_box .view_more-link {
    display: inline-block;
    padding: 10px 45px;
    background-color: #f3c93e;
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #f3c93e;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.product_section .btn_box .view_more-link:hover {
    background-color: transparent;
    color: #f3c93e;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0c0c0c;
    background-color: #ffffff;
    overflow-x: hidden;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 75px 0;
}

.layout_padding2-top {
    padding-top: 75px;
}

.layout_padding2-bottom {
    padding-bottom: 10px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.heading_container h1 {
    position: relative;
    font-weight: bold;
    font-size: 50px;
}

.heading_container h1 span {
    color: #B22222;
}

.heading_container.heading_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}